.container{
    color: #6599FF;
    text-align: center;
  
  }
  .tituloTNM{
    color:  #336699;
  }
  .tituloITO{
    color:#FF9900;
  }
  .table-responsive{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  .hora{
    text-align:right;
    margin-right: 20px;
    
  }